* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Clash Display';
  src: url('../fonts/ClashDisplay-ExtraLight.otf') format('opentype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Clash Display';
  src: url('../fonts/ClashDisplay-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Clash Display';
  src: url('../fonts/ClashDisplay-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Clash Display';
  src: url('../fonts/ClashDisplay-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Clash Display';
  src: url('../fonts/ClashDisplay-SemiBold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Clash Display';
  src: url('../fonts/ClashDisplay-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #f0f0f0;
  font-family: 'DM Sans', sans-serif;
}

nav {
  height: 50px;
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  padding-left: 8%;
  padding-right: 8%;
  font-family: 'Clash Display', sans-serif;
  font-weight:500;
  background-color: rgb(255, 255, 255);
  z-index: 1;
}

main {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-left: 8%;
  padding-right: 8%;
}

.subtext {
  width: 100%;
  max-width: 600px;
  text-align: center;
}

.upload-file {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 600px;
  height: 300px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  margin-top: 50px;
  gap: 20px;
}

@media (max-width: 768px) {
  .upload-file {
    width: 100%;
    height: auto;
    padding: 20px;
  }
}

.browse-file-button {
  padding: 10px 20px;
  background-color: #ffffff;
  color: #000000;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  font-family: 'DM Sans', sans-serif;
  font-weight: 500;
  transition: background-color 0.3s ease;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.upload-file-text {
  font-size: 14px;
  color: rgb(77, 77, 77);;
  text-align: center;
}

.browse-file-button:hover {
  background-color: #000000;
  color: #ffffff;
}

.credits {
  font-size: 12px;
  color: rgb(77, 77, 77);
  margin-top: 20px;
}